body {
    background-color: rgb(252, 252, 252);
}
.principal{
    background: #39f2ff;
    padding: 30px;
}
.itens{
    font-style: italic;
}
.beneficios{
    background: #60ffc2;
}

h2{
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20;
    margin-right: 15%
}

.imgbeneficios{
    width: 50%;
}
p{
    text-align: center;
}

en strong{
    color:rgb(0, 26, 255);

}
  
#banner{
    width: 200%
}

h1{
    text-align: center;

}

#missao{
    font-size: 20px;
}

body{
margin : 0px;
padding: 0px;
}

header {
background: #BBBBBB;
padding: 20px 0;
}

.caixa {
position: relative;
width: 940px;
margin: 0 auto;
}

nav {
position: absolute;
top: 110px;
right: 0;
}

nav li {
display: inline;
margin: 0 0 0 15px;
}

nav a {
text-transform: uppercase;
color: #000000;
font-weight: bold;
font-size: 22px;
text-decoration: none;
}

nav a:hover {
color: #C78C19;
text-decoration: underline;
}

main {
width: 940px;
margin: 0 auto;
}

.principal{
background: #CCCCCC;
padding: 5%;

}

.beneficios {
background: #BBBBBB;
padding: 20px;
font-size:20px;
}

.beneficios ul {
display: inline-block;
vertical-align: top;
width: 20%;
margin-right: 15%;
line-height : 2.0;
}

.imagembeneficios {
width: 50%;
}